## Question 1

In [5]:
q1_list = ["spam", "ham", "eggs", "ham"]

In [17]:
q1_list[0:3]

['spam', 'ham', 'eggs']

In [18]:
q1_list[-1]

'ham'

## Question 2

In [52]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

print(stops)

['Croy', 'Cumbernauld', 'Falkirk High', 'Linlithgow', 'Livingston', 'Haymarket']

In [53]:
stops.append("Edinburgh Waverley")

stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [54]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [55]:
stops.index("Croy")

1

In [56]:
stops.index("Falkirk High")

3

In [57]:
stops.insert(4, "Polmont")

In [58]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [59]:
stops.clear()
stops

[]

## Question 3

In [2]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

dict_keys(['name', 'age', 'Instructor'])

In [3]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [4]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [5]:
person.values()

dict_values(['Steph', 31, True])

In [11]:
person["name"]

'Steph'

In [12]:
person["email"] = "steph@codeclan.com"

In [13]:
del(person["Instructor"])

In [14]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

## Question 4

In [15]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [17]:
numbers_even = []
for i in numbers:
    if i % 2 == 0:
        numbers_even.append(i)

In [18]:
numbers_even

[6, 2, 2, 6]

In [30]:
max(numbers) - min(numbers)

98

## Question 5

In [21]:
python_is_fun = True
python_is_weird = True

In [24]:
if python_is_fun == True | python_is_weird == True:
    print("Woo python!")
else:
    print("Python is not for me")

Woo python!

## Question 6

In [25]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [38]:
import pandas as pd

total_eggs = sum(chickens['eggs'])
print(total_eggs)

TypeError: list indices must be integers or slices, not str

In [27]:
pd.DataFrame(chickens)

        name  age  eggs
0   Margaret    2     0
1      Hetty    1     2
2  Henrietta    3     1
3     Audrey    2     0
4      Mabel    5     1

In [ ]:
sum(chickens[eggs])